<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dt.zxhygl.mvc.base.dao.IMediaDao">

    <!--根据主键查询一条用户数据-->
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="Media">
        select
        *
        from t_media a

        where a.zid=#{id}
    </select>
    
    <!--用户登录-->
    <select id="loginByUserNameAndPassword" parameterType="User" resultType="User">
        select
        
        a.zid as zid,
        a.zcode as username,
        a.zpassword as password,
        a.zname as xm,
        a.zrole as role
        
        from t_operator a
        where zcode=#{username} and zpassword=#{password}
    </select>
    
    <!--查询所有用户数据 -->
    <select id="findByPage" resultType="Media">
        select
        *
        from t_media a
		<where> 
			<if test="param!=null">
		 		<if test="param.zname!=null and param.zname!=''">
			 		<bind name="znameLike" value="'%' + param.zname + '%'" />
					and a.zname like #{znameLike} 
				</if>
				<if test="param.zlinkman!=null and param.zlinkman!=''">
			 		<bind name="zlinkmanLike" value="'%' + param.zlinkman + '%'" />
					and a.zlinkman like #{zlinkmanLike} 
				</if>
				<if test="param.ztel!=null and param.ztel!=''">
			 		<bind name="ztelLike" value="'%' + param.ztel + '%'" />
					and a.ztel like #{ztelLike} 
				</if>
		 		<if test="param.zrole!=null and param.zrole!=''">
					and a.zrole = #{param.zrole} 
				</if>
			</if>
		</where>
		order by to_number(zcode) 
    </select>
    
    <!-- 根据单位编号取得账号信息 -->
    <select id="selectByGzry"  resultType="Operator">
    	select * from t_operator where zrole='4' 
    </select>
    
    <select id="selectByUsername" parameterType="string"  resultType="Operator">
        select 
        *
        from t_operator a
		<where>
			a.zcode = #{zcode}
		</where>
    </select>
    
    <select id="selectByUsernameWithOutZid"  resultType="Operator">
        select 
        *
        from t_operator a
		<where>
			a.zcode = #{zcode}
			and a.zid <![CDATA[ <> ]]> #{zid}
		</where>
    </select>
    
    <!-- 插入菜单 -->
    <insert id="insert" parameterType="Media">
    	insert into t_media (
			zid, 
			zcode, 
			zname, 
			zaddress,
			zlinkman,
			ztel,
			zpassword, 
			zunitcode,
			zsortindex			
    	)values(
			#{zid,jdbcType=VARCHAR}, 
			#{zcode,jdbcType=VARCHAR}, 
			#{zname,jdbcType=VARCHAR}, 
			#{zaddress,jdbcType=VARCHAR}, 
			#{zlinkman,jdbcType=VARCHAR}, 
			#{ztel,jdbcType=VARCHAR}, 
			#{zpassword,jdbcType=VARCHAR}, 
			#{zunitcode,jdbcType=VARCHAR}, 
			#{zsortindex,jdbcType=NUMERIC}
    	)
    </insert>
    
    <update id="update" parameterType="Media">
    	update t_media 
    	<trim prefix="set" suffixOverrides=",">
			<if test="zcode!=null">zcode=#{zcode,jdbcType=VARCHAR}, </if>
			<if test="zname!=null">zname=#{zname,jdbcType=VARCHAR}, </if>
			<if test="zaddress!=null">zaddress=#{zaddress,jdbcType=VARCHAR}, </if>
			<if test="zlinkman!=null">zlinkman=#{zlinkman,jdbcType=VARCHAR}, </if>
			<if test="ztel!=null">ztel=#{ztel,jdbcType=VARCHAR}, </if>
			<if test="zpassword!=null">zpassword=#{zpassword,jdbcType=VARCHAR},</if> 
			<if test="zunitcode!=null">zunitcode=#{zunitcode,jdbcType=VARCHAR}, </if>
			<if test="zsortindex!=null">zsortindex=#{zsortindex,jdbcType=NUMERIC}, </if>
		 </trim>	
		where 
			zid=#{zid,jdbcType=VARCHAR}
    </update>
    
    <delete id="delete" parameterType="string">
    	delete from t_media where zid=#{id,jdbcType=VARCHAR}
    </delete>
</mapper>