<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.cgq.mvc.dao.DxjlDao">

	<select id="findByPage" resultType="com.dt.cgq.mvc.pojo.Dxjl">
		select a.* from cgq_dxjl a,cgq_sbgl b
		<where> 
		    a.sbbh = b.sbbh
		    <if test='param.bj1=="1" || param.bj1=="3"'>
		 		 and b.bj = '1'
			</if> 
			<if test='param.bj1=="2" || param.bj1=="4"'>
		 		 and b.bj = '2'
			</if>
			<if test="(param.ssid==null or param.ssid=='') and param.qyid!=null and param.qyid!=''">
	            and b.qyid in (SELECT id FROM (SELECT t1.*, IF (FIND_IN_SET(pid, @pids) <![CDATA[ > ]]> 0, @pids := CONCAT(@pids, ',', id), 0) AS ischild FROM
	            (SELECT * FROM t_area t ORDER BY pid, id) t1,(SELECT @pids := #{param.qyid}) t2) t3 WHERE (ischild != 0 OR id = #{param.qyid}))
	        </if>
	        <if test="param.ssid!=null and param.ssid!=''">
	            and b.qyid in (SELECT id FROM (SELECT t1.*, IF (FIND_IN_SET(pid, @pids) <![CDATA[ > ]]> 0, @pids := CONCAT(@pids, ',', id), 0) AS ischild FROM
	            (SELECT * FROM t_area t ORDER BY pid, id) t1,(SELECT @pids := #{param.ssid}) t2) t3 WHERE (ischild != 0 OR id = #{param.ssid}))
	        </if>
	        <if test='param.bj=="0"'>
		 		 and a.fszt!='0'
			</if>
			<if test='param.bj=="1"'>
		 		 and a.fszt='0'
			</if>
			<if test="param.sbbh!=null and param.sbbh!=''">
		 		 and a.sbbh like concat(concat('%', #{param.sbbh}), '%')
			</if>
		</where>
		order by a.time desc
	</select>

	<insert id="insert" parameterType="com.dt.cgq.mvc.pojo.Dxjl">
    	insert into cgq_dxjl (id,time,sbbh,fsrxm,fsrdh,ycyy,fszt)values(#{id},NOW(),#{sbbh},#{fsrxm},#{fsrdh},#{ycyy},#{fszt}) 
    </insert>
    
</mapper>