.icon-excel{
	background:url(icons/excel.png) no-repeat !important;
}

.icon-fujian{
	background:url(icons/fujian.png) no-repeat !important;
}

.icon-download{
	background:url(icons/download.png) no-repeat !important;
}

.icon-delete{
	background:url(icons/delete.gif) no-repeat !important;
}

.icon-call{
	background:url(icons/call.png) no-repeat !important;
}

.icon-voice{
	background:url(icons/voice.png) no-repeat !important;
}

.icon-play{
	background:url(icons/play.png) no-repeat !important;
}
